@charset "utf-8";
/* CSS Document */

/*Basic Sytle sheet for the Employee recognition portal*/

#header {
	width: 100%;
	height: 200px;
    background: #087114;
	align-content: space-around;
}

nav {
	float: left;
	width: 20%;
	/*background-color: #b4c7e7;*/
}

ul{
	list-style-type: none;
	display:inline;
}

nav li{
	padding-bottom: 10%;
}

article{
	float: right;
	padding: 15px;
	width:75%;
	background-color: #ccffcc;
}

#main-title{
	
	text-align: center;
	text-decoration: underline;
	color: #5A5050;
	
}

.reg-title{color: #0E7031}

div.text-section{
	
	padding-top:10px;
	padding-left:10%;
	padding-Right:10%;
	
}

table{

	width: 100%;
	border: 2px solid;
	border-radius: 10px;
	padding: 20px;
}

th{

	background-color: #ccffcc;
	color: #148042;
	border-radius: 10px;
	
}

div.wrapperpane{
    width:80%;
    overflow: hidden;
}
div.leftpane{
    width:33%;
    min-width: 200px;
    height: available;
    min-height: 200px;
    float:left;
    padding-right: 10px;
    
}

div.midpane{
    width: 25%;
    min-width: 400px;
    height: available;
    min-height: 200px;
    float:left;
    padding-right: 30px;
    padding-left: 30px;    
    position: relative;
    display: inline-block;
}

div.rightpane{
    width: 25%;
    min-width: 100px;
    height: available;
    min-height: 200px;
    padding-right: 30px;
    padding-left: 30px;    
    position:relative;
    float:left;
    display: inline-block;
}

#Congrats{
	
	text-align: center;
	color: #ffff00;
	size: 30px;
	
}

input.MyButton{
	
	border-color:#3EACA8;
	background-color: #3EACA8;
	color: white;
	
}

h2{
	
	text-align:center;
	font-family: calibri;
	font-size: 22pt;
	
}

h3{
	
	background-color: #18E73C;
	color:white;
	
}

h3.footer{
	
	color: #b4c7e7;
	
}

h4{
	
	margin:0;
	padding-bottom:5pt;
	text-align:center;
	font-family: calibri;
	font-size: 16pt;
	color:#d31212;
	
}

img.img-container{

   max-width:90%;
   max-height:90%;

}

p{
	
	text-align:left;
	
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

input.LoginCred{
	
	background-color: #ffffff;
	padding-left: 5px;
	
}

input.LoginSubmit{
	
	background-color: #008000;
	border: 1;
	border-color: black;
	width: 175px;
	height: 25px;
	
}



div.ParentDiv{
	
	text-align:center;

}

div.ChildDiv{
	
	vertical-align:middle;
	display:inline-block;
	padding-right: 2pt;
	height:100%;
}

div.myHeader{
	
	display:flex;
	justify-content:space-between;
	
}

img#HeaderImg{
	
	vertical-align:middle;
	
}

div#ProfileName{
	
	vertical-align:bottom;
	width:100%;
	
}

h1#myName{

	text-align:center;
	font-family: calibri;
	font-size: 42pt;
	color:#5A5050;
	
}

div#FooterDiv{
	
	position:absolute;
	bottom:0;
}

input#FName{
	
	padding-left: 5px;
	background-color: #ffffff;
	width: 25%;
	
}

input#LName{
	
	padding-left: 5px;
	background-color: #ffffff;
	width: 25%;
	
}

input#UserName{
	
	padding-left: 5px;
	background-color: #ffffff;
	width: 25%;
	
}
input#Password{
	
	padding-left: 5px;
	background-color: #ffffff;
	width: 25%;
	
}

input#SigPath{
	
	padding-left: 5px;
	background-color: #ffffff;
	width: 25%;
	
}

.column-wrap{
	align-content: center;
	width: 100%;
	margin: 0;
}

.column-80pct{
	width: 80%;
}

.column-20pct{
	padding-top: 50px;
    width: 20%;
}

.colBtn{
	width: 10%;
	border-width: thin;
	border-color: lightgreen;
	align-content: flex-start;
}

.right{
	float: right;
}

.left{
	float: left;
}

.border{
	border:thin;
	border-color: lightgreen;
	border-style: solid;
	width: auto;
}

.evenSplit{
	width: "50%";
}

button{
	width: 100%;
	height: auto;
	background-color: #09DC14;
	font-family: baumans;
	font-size: large;
}