<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Maia CS467 Employee Recognition Portal Project</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    {{#each jsscripts}}
    <script src="/js/{{this}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    {{/each}}
</head>
<body>

    {{{body}}}

</body>
</html>
