<div id="header">
    <img src="../public/images/MaiaGroupHeader.jpg" width="100%" height="100%" alt=""/>
</div>

<div class="column-wrap">
    <h2 align="center">User Profile</h2>
    <div>
        <section>
            <nav>
                <ul>
                    <li><button>Create Award</button></li>
                    <li><button>Manage Awards</button></li>
                    <li><button>Save</button></li>
                    <li><button>Logout</button></li>
                </ul>
            </nav>

            <article>
                <table>
                    <tr>
                        <td>
                            Username
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <input type="email" name="username" size="100">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Firstname                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Lastname
                        </td>
                    </tr>
                    <tr>
                        <td>                        
                            <input type="text" name="Fname" size="30"> 
                            &nbsp;
                            <input type="text" name="Lname" size="30">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Password
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="password" name="password" size="20">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Signature
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="file" name="sigFile" size="100"><br>
                        </td>
                    </tr>

                </table>
            </article>
        </section>
    </div>
</div>
	